@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&family=Trirong:ital,wght@1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --ff-Rubik: 'Rubik', sans-serif;

    --clr-black: #000000;
    --clr-white: #ffffff;
    --clr-blue-pastel: #569cd6;

    --card-padding: 0.75em;
    --card-gap: 2em;

    --feature-padding: 0.5em;
    --min-content-width: 240px;
    --max-content-width: 1000px;
    --image-width: 740px;
/* 
    --font-scale-global: 0.8;
    --font-scale-h1: 0.33;
    --font-scale-h2: 0.6;

    --font-scale-h3: 0.25;
    --font-scale-p: 0.875;
    --font-scale-strong: 0.925;
    
    --font-size-large: clamp(3rem, 1rem + 10vw, 6rem);
    --font-size-h1: calc(var(--font-scale-global)*var(--font-scale-h1)*var(--font-size-large));
    --font-size-h2: calc(var(--font-scale-global)*var(--font-scale-h2)*var(--font-size-large));

    --font-size-h3: calc(var(--font-scale-global)*var(--font-scale-h3)*var(--font-size-large));
    --font-size-p: calc(var(--font-scale-global)*var(--font-scale-p)*var(--font-size-h3));
    --font-size-strong: calc(var(--font-scale-global)*var(--font-scale-strong)*var(--font-size-h3));
 */

    --font-size-h1: 32px;
    --font-size-h2: 38px;

    --font-size-h3: 18px;
    --font-size-p: 16px;
    --font-size-strong: 16px;


    --hue-card: 270;

    --hue-card-a: 270;
    --hue-card-b: 360;
    --hue-card-c: 90;
    --hue-card-d: 180;

    --sat-card-1: 0%;
    --sat-card-2: 0%;

    --lum-card-1: 85%;
    --lum-card-2: 85%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0px;   
    margin: 0px;
    text-align: left;
    font-family: var(--ff-Rubik);
}

h1 {
    font-weight: 600;
    font-size: var(--font-size-h1);
    color: white;
}

h2 {
    font-weight: 800;
    font-size: var(--font-size-h2);
    margin-bottom: 0.25em;
}

h3 {
    font-weight: 600;
    font-size: var(--font-size-h3);
}

section,p {
    font-weight: 400;
    font-size: var(--font-size-p);
    color: black;
}

strong {
    font-weight: 600;
    font-size: var(--font-size-strong);
    color: black;
}

body {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: fit-content fit-content 1fr fit-content;
}

header {
    width: 100vw;
    margin: auto;
    background-image: linear-gradient(87deg, #000, #333, #000);
}

.main-body {
    overflow-y: scroll;
    /* background-image: linear-gradient(-25deg, rgb(255, 255, 255), 20%, #eee, 70%, rgb(255, 255, 255)); */
    background: #eee;
}

.content {
    --breakpoint-1: 2264px; 
    --breakpoint-2: calc(1.5*var(--breakpoint-1));    
   
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: center;
    padding:var(--card-padding);
    gap:var(--card-gap);
    margin: 1em auto;
    max-width: clamp(var(--breakpoint-1), (100vw - var(--breakpoint-2)) * 1000, var(--breakpoint-2));
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}

.section {
    width:100%;
}

.next-link {
    display: block;
    float: bottom;
    background:red;
}

.card {
    min-width: calc(var(--min-content-width) + var(--card-padding));
    max-width: min(1100px, 90vw);
    border-radius: 1em;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:var(--card-gap);
    padding:var(--card-padding);
    overflow: hidden;
    border: 1px solid #fff;
    box-shadow: 2px 2px 0.85em #0005;
    transition: box-shadow 300ms ease-in-out;
/*     transform: scale(0.999);
 */    animation: 1s ease-out 0s 1 slideInFromBottom;

}

.card:hover,
.card:active {
    box-shadow: 0.25em 0.25em 1em #0008;
/*     transform: scale(1);
 */}


.left-column {
    flex: 1;
    display: grid;
    grid-template-rows: 0.4fr 1fr;
    min-width: var(--min-content-width);
    height:min-content;
}


.right-column {
    --min-width: 365px;
    --breakpoint: 560px;

    flex: 2.55;
    /* min-width: var(--min-content-width); */
    min-width: clamp(var(--min-content-width), (100% - var(--breakpoint)) * 1000, var(--min-width) );

    height:min-content;
    display: grid;
    grid-template-rows: min-content 1fr;
}

.card-image {
    width: 100%;
    max-width: var(--image-width);
    height: auto;
}
    
.feature-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--min-content-width), 1fr));
    height:min-content;
    align-items: start;
}

.feature-box > * {
    padding: var(--feature-padding);
}

.card:nth-child(4n) {
    opacity:0;

/*     animation: 2s ease 1.25s 1 slideInFromBottom;
 */    animation: 2s ease-out 1.25s 1 fadeInAnimation forwards;


    background-image: linear-gradient(85deg, hsl(var(--hue-card-a), var(--sat-card-1), var(--lum-card-2)), 10%,
        hsl(var(--hue-card-a), var(--sat-card-2), var(--lum-card-1)), 70%,
        hsl(var(--hue-card-a), var(--sat-card-1), var(--lum-card-2)));
}

.card:nth-child(4n-1) {
    opacity:0;

/*     animation: 2s ease-out 1s 1 slideInFromBottom;
 */    animation: 2s ease-out 1s 1 fadeInAnimation forwards;

    background-image: linear-gradient(85deg, hsl(var(--hue-card-b), var(--sat-card-1), var(--lum-card-2)), 10%,
        hsl(var(--hue-card-b), var(--sat-card-2), var(--lum-card-1)), 70%,
        hsl(var(--hue-card-b), var(--sat-card-1), var(--lum-card-2)));
}

.card:nth-child(4n-2) {
    opacity:0;
/*     animation: 2s ease-out 0.75s 1 slideInFromBottom;
 */    animation: 2s ease-out 0.75s 1 fadeInAnimation forwards;

    background-image: linear-gradient(85deg, hsl(var(--hue-card-c), var(--sat-card-1), var(--lum-card-2)), 10%,
        hsl(var(--hue-card-c), var(--sat-card-2), var(--lum-card-1)), 70%,
        hsl(var(--hue-card-c), var(--sat-card-1), var(--lum-card-2)));
}

.card:nth-child(4n-3) {
    opacity:0;

/*     animation: 2s ease-out 0.5s 1 slideInFromBottom;
 */    animation: 2s ease-out 0.5s 1 fadeInAnimation forwards;

    background-image: linear-gradient(85deg, hsl(var(--hue-card-d), var(--sat-card-1), var(--lum-card-2)), 10%,
        hsl(var(--hue-card-d), var(--sat-card-2), var(--lum-card-1)), 70%,
        hsl(var(--hue-card-d), var(--sat-card-1), var(--lum-card-2)));
}

