:root {
    --ff-Roboto: 'Roboto', sans-serif;

    --clr-black: #000000;
    --clr-white: #ffffff;
    --clr-blue-pastel: #569cd6;
}
*,
*::before,
*::after {
    box-sizing: border-box;
    border: var(--clr-blue-pastel);
    border-style:solid;
    background: var(--clr-black);
    color: var(--clr-blue-pastel);
    padding: 0px;   
    margin: 0px;

}
h1 {
    font-family: var(--ff-Roboto);
    font-weight: 700;
    font-size: 80px;
}
h2{
    font-family: var(--ff-Roboto);
    font-weight: 500;
    font-size: 80px;
}
h3{
    font-family: var(--ff-Roboto);
    font-weight: 400;
    font-size: 18px;
}
section,p{
    font-family: var(--ff-Roboto);
    font-weight: 400;
    font-size: 15px;
}

body {
    height: 100vh;
    display: grid;
    grid-template-rows: 40px, 1fr;
}
header {
    margin: auto;
}
.main-body {
    overflow-y: scroll;
}

p {
    padding: 16px;
}

.wrapper {
    width: clamp(170px, 80%, 800px);
    height:fit-content;
    margin: auto;
    display: grid;
    grid-template-columns: 0.4fr 0.6fr;
    grid-template-rows: 1fr;
    

}
.left-column {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 0.6fr;
    grid-gap: 20px;

}
.right-column {
    width: clamp(250px, 100%, 800px);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.4fr;
    grid-gap: 20px;

}

.flexbox {
    width: 1fr;
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: stretch;
    align-content: stretch;
    gap: 16px;
    text-align: center;

}
