:root {
    --ff-Roboto: 'Roboto', sans-serif;

    --clr-black: #000000;
    --clr-white: #ffffff;
    --clr-blue-pastel: #569cd6;
}
*,
*::before,
*::after {
    box-sizing: border-box;
    /*border: var(--clr-blue-pastel);
    border-style:solid;*/
    color: var(--clr-blue-pastel);
    padding: 0px;   
    margin: 0px;
    text-align: left;
}
h1 {
    font-family: var(--ff-Roboto);
    font-weight: 700;
    font-size: 44px;
}
h2{
    font-family: var(--ff-Roboto);
    font-weight: 500;
    font-size: 80px;
}
h3{
    font-family: var(--ff-Roboto);
    font-weight: 400;
    font-size: 18px;
    padding: 24px;


}
section,p{
    font-family: var(--ff-Roboto);
    font-weight: 400;
    font-size: 15px;
}

body {
    height: 100vh;
    display: grid;
    grid-template-rows: 40px 1fr;
}
header {
    /*width: clamp(370px, 90vw, 1500px);*/
    width: 100vw;
    height:40px;
    margin: auto;
    background: var(--clr-black);
    overflow: hidden;

}
.main-body {
    overflow-y: scroll;
    background: var(--clr-black);

}
.wrapper {
    width: clamp(308    px, 100vw, 1280px);
    height: max(700px, fit-content);
    margin: auto;
    display: flex;
    flex-direction: row;
    flex: 1 1 100%;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: stretch;
    align-content: stretch;
    text-align: center;
    padding:0px;
    background: darkgray;
}
.wrapper >  {
    height: 100%;
}
.left-column {
    width: clamp(306px, 33.3vw, 510px);
    background: rgb(207, 190, 190);
    align-content: stretch;
    align-items:stretch;
    justify-content:space-evenly;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 0.6fr;
}
.left-column > * + * {
    padding: 24px;
    background:lemonchiffon;
}
.right-column {
    width: clamp(306px, 50vw, 765px);
    min-height:inherit;
    background: rgb(233, 98, 98);
    align-content: stretch;
    align-items: stretch;


    display: grid;
    grid-template-rows: clamp(170px, 27.8vw, 425px) 1fr;

}

#image-1 {
    background-image: url("../img/Purple\ Image.jpg");
    padding: 0px;
    align-items: center;
}

.flexbox {
    display: flex;
    flex-direction: row;
    flex: 1 1 100%;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: stretch;
    align-content: stretch;

}

.flexbox > * {
    padding: 8px;
    width: clamp(180px, 30%, 220px);
}
